.ToggleButton {
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: space-around;
    flex-flow: column;
    align-items: center;
    cursor: pointer;
    padding: 10px 0;
    box-sizing: border-box;
}

.ToggleButton .reg {
    background-color: white;
    border-radius: 20px;
    height: 5%;
    width: 90%;
}

@media (min-width: 500px) {
    .ToggleButton {
        display: none;
    }
}
