.BurgerControls {
    margin: 0 auto;
    background-color: #bc581e;
    width: 50%;
    border-radius: 20px;
    padding: 16px;
    text-align: center;
}

.BurgerControls .OrderButton {
    padding: 16px;
    border-radius: 4px;
    background-color: #eeec2e;
    border: 1px solid white;
    box-shadow: 2px 1px 3px #ee3422;
    cursor: pointer;
}

.OrderButton:hover {
    background-color: #35ee30;
    animation: sc 1s linear infinite;
}

.OrderButton:active {
    background-color: white;
    border: 1px solid transparent;
}

.OrderButton:disabled {
    cursor: not-allowed;
    background-color: #c9c9c9;
    animation: none;
}

@keyframes sc {
    0% {
        transform: scale(1)
    }
    25% {
        transform: scale(1.1)
    }
    50% {
        transform: scale(1.2)
    }
    75% {
        transform: scale(1.1)
    }
    100% {
        transform: scale(1)
    }
}
