.Post {
    box-shadow: #c9c9c9 2px 2px 9px;
    padding: 30px;
    box-sizing: border-box;
    cursor: pointer;
    width: 100%;
    margin: 10px 10px;
    display: inline-block;
}

.Post p {
    color: #c9c9c9;
}

.Post:hover h2 {
    text-decoration: underline;
}

.Post:hover {
    background-color: #b0aaa9;
}
